body{overflow-x: hidden;color: #313231;}
a{text-decoration: none;}
/* Nav */
.navbar{padding: 0;background: #FFF;z-index: 5;}
.navbar-brand{margin-right:0;}
#navbarNav{height: 100px;position: relative;z-index: 10;}
.navbar-collapse{flex-grow: 0;}
.navbar-nav{height: 80px;}
.navbar-nav .nav-item{height: 100%;margin-right: 15px;display: flex;justify-content: center;align-items: center;}
.navbar-nav .nav-item:last-child{margin-right: 0px;}
.navbar-light .navbar-nav .nav-link{padding: 0;font-size: 18px;font-weight: bold;color: #E60505;}
.navbar-light .navbar-nav .nav-link:hover{color: #FFF;}
.navbar-light .navbar-nav .nav-link.show{color: #FFF;}
.dropdown-menu{background: #313231;padding: 0; border-radius: 10px;transition: all .3s;animation: dropdownFade .3s ease-in;opacity: 1;}
.dropdown-item{color: #E60505;font-size: 18px;font-weight: 700;padding: 5px 15px;}
.dropdown-item:hover{background: #E60505;color: #313231;border-radius: 10px;}

.top-bar{width: 100%;justify-content: flex-end;height: 30px;}
#sign-in{width: 160px;height: 100%;background: #E60505;border-radius: 0 0 15px 15px;text-align: center;font-size: 18px;font-weight: bold;margin-left: 30px;}
#sign-in a{text-decoration: none;color: #FFF;}
.top-bar div{margin-left: 15px;}
.top-bar div:hover{cursor: pointer;}
.top-bar div:last-child:hover{cursor: auto;}
.top-bar div:first-child{margin-left: 0px;}
.menu-back{position: absolute;top: 0;left: 520px;z-index: 2;}

/* slider */
#slider{width: 100%;height: 800px;}
.slider-back{position: absolute;top: 0;left: -875px;z-index: 2;}
#carousel{position:absolute;top: 100px;}
.carousel-item{right: 0px;}
.carousel-item.active .carousel-caption{animation: showUp .3s ease-in;opacity: 1;}
.carousel-caption{position: absolute;bottom: 375px;left: -200px;z-index: 3;color: #E60505;right: auto;font-size: 64px;width: 450px;height: 150px;font-weight: bold;transition: all .3s; opacity: 0;}

.carousel-indicators{position: absolute;right: 1050px;z-index: 3;margin: 0 0 1.5rem;}
.carousel-indicators [data-bs-target] {width: 25px;height: 25px;border-radius: 10px;border: 2px solid #E60505;}
.carousel-indicators [data-bs-target].active {width: 25px;height: 25px;border-radius: 10px;border: 2px solid #E60505;background: #313231;}

/* about */
#about{padding-top: 40px;}
.m-title{font-size: 48px;text-align: center;margin-bottom: 40px;color: #E60505;}
.photo-about{display: flex;justify-content: center;align-items: center;margin-bottom: 30px;}
.photo-about img{border-radius: 25px;}
.flex-about{width: 100%;height:95%;display: flex;justify-content: center;align-items: center;}
.text-about{font-size: 18px;text-align: justify;line-height: 25px;}

/* news */
.flex-center{display: flex;justify-content: center;align-items: center;}
#news{margin-top: 10px;}
.news{background: #E60505;border-radius: 25px;transition: all .3s ease;overflow-x: hidden;}
.news:hover{transform: scale(1.05);}
.news:hover .photo-news .blackout{display: flex;}
.news .photo-news{width: 100%;height:100%;position: relative;}
.blackout{transition: all 0.3s ease;width: 100%;height: 100%;position: absolute;top: 0;left: 0;background: rgba(0,0,0,0.5);border-radius: 25px 25px 0px 0px;display: none;animation: moveRight .3s ease-in;}
.click-it{animation: clickIt 1s ease .5s;}
.click-it img{width: 100px;height: 100px;}
.news .photo-news img{border-radius: 25px 25px 0px 0px;}
.news .title-news{padding: 0 15px;min-height: 45px;font-size: 14px;font-weight: bold;color: #FFF;text-align: center;}

/* partnership */
#partnership{padding: 40px 0;}

/* footer */
#footer{width: 100%;height: 35px;font-size: 14px;color: #FFF;background: #E60505;}
.footer-container{display: flex;width: 100%;height: 100%;align-items: center;}
/* animations */
@keyframes showUp {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes dropdownFade {
    0% {opacity: 0;margin-top: -50px;}
    100% {opacity: 1;margin-top: 0px;}
}

@keyframes moveRight {
    0% {opacity: 0;margin-left: -150px;}
    100% {opacity: 1;margin-left: 0px;}
}

@keyframes clickIt {
    0% {transform: scale(1);}
    25% {transform: scale(1.15);}
    75% {transform: scale(.9);}
    100% {transform: scale(1);}
}


/******* MEDIA QUERIES ******/
@media screen and (max-width: 1399px){
    /* nav */
    .menu-back{left: 350px;}

    /* slider */
    .slider-back{left: -1000px;}
    .carousel-caption{left: -375px;}
    .carousel-indicators{right: 1275px;}
}

@media screen and (max-width: 1199px){
    /* nav */
    .navbar{padding: 0;background: #313231;z-index: 5;min-height: 70px;}
    .navbar-brand img{height: 60px;}
    .top-bar{width: 60%;}
    .navbar-toggler{border: 3px solid #E60505 !important;width: 60px; height: 45px;padding: 0;}
    /* toggler do zrobienia */
    .menu-back{display: none;}

    /* slider */
    .carousel-caption{left: -375px;}
    #slider{width: 100%;height: auto;}
    #carousel-small{position:relative;margin-top: 70px;}
    .carousel-item{right: 0px;}
    .carousel-item.active .carousel-caption{animation: showUp .3s ease-in;opacity: 1;}
    .carousel-caption{position: absolute;bottom: 375px;left: -200px;z-index: 3;color: #E60505;right: auto;font-size: 64px;width: 450px;height: 150px;font-weight: bold;transition: all .3s; opacity: 0;}
}
